[submodule "Hardware/OSCAR_AUDIO_01"]
	path = Hardware/OSCAR_AUDIO_01
	url = https://github.com/DADDesign-Projects/OSCAR_AUDIO_01
[submodule "Hardware/OSCAR_PROC_01"]
	path = Hardware/OSCAR_PROC_01
	url = https://github.com/DADDesign-Projects/OSCAR_PROC_01
[submodule "Software_OSCAR_P01A01"]
	path = Software_OSCAR_P01A01
	url = https://github.com/DADDesign-Projects/Software_OSCAR_P01A01
[submodule "FlasherLoader/OSCAR_P01_FlasherLoader"]
	path = FlasherLoader/OSCAR_P01_FlasherLoader
	url = https://github.com/DADDesign-Projects/OSCAR_P01_FLasherLoader
[submodule "FlasherLoader/OSCAR_Flasher_Server"]
	path = FlasherLoader/OSCAR_Flasher_Server
	url = https://github.com/DADDesign-Projects/OSCAR_Flasher_Server
[submodule "FlasherLoader/OSCAR_PY_Flasher_Server"]
	path = FlasherLoader/OSCAR_PY_Flasher_Server
	url = https://github.com/DADDesign-Projects/OSCAR_PY_Flasher_Server
